<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.notice.mapper.INoticeMapper">

	<!-- 게시판 게시글 검색을 위한 동적 쿼리 -->
	<sql id="noticeSearch">
		<if test="searchWord != null and searchType == 'title'">
			and (notice_title like '%' ||#{searchWord}||'%')
		</if>
		<if test="searchWord != null and searchType == 'writer'">
			and (notice_writer like '%' ||#{searchWord}||'%')
		</if>
	</sql>


	<!-- 등록 -->
	<insert id="insertNotice" parameterType="noticeVO" useGeneratedKeys="true">
		
			<selectKey keyProperty="noticeNo" resultType="int" order="BEFORE">
				select seq_notice.nextval 
				from dual
			</selectKey>
			insert into notice(
				notice_no
				, notice_title
				, notice_content
				, notice_writer
				, notice_date
			) values (
				#{noticeNo}
				,#{noticeTitle}
				,#{noticeContent}
				,#{noticeWriter}
				, sysdate
			)
			
	</insert>
	
	<!-- 조회수 증가 -->
	<update id="incrementHit" parameterType="int">
		
		update notice
		set 
			notice_hit = notice_hit + 1
		where notice_no = #{noticeNo}
	
	</update>
	
	
	<!-- 게시판 게시글 선택 상세보기 -->
	<select id="selectNotice" parameterType="int" resultType="noticeVO">
	
		select
			notice_no
			, notice_title
			, notice_content
			, notice_writer
			, notice_date
			, notice_hit
		from notice
		where notice_no = #{noticeNo}
		
	</select>
	
	
	<!-- 게시판 전체 게시글 수 -->
	<select id="selectNoticeCount" parameterType="paginationInfoVO" resultType="int">
	
		select count(notice_no)
		from notice
		where 1=1
		<include refid="noticeSearch" />
		
	</select>
	
	
	<!-- 게시판 전체 목록 -->
	<select id="selectNoticeList" parameterType="paginationInfoVO" resultType="noticeVO">
	
		select b.*
		from (
		    select a.*
		        , row_number() over(order by a.notice_no desc) rnum 
		    from(
		        select
		                notice_no
		                , notice_title
		                , notice_content
		                , notice_writer
		                , notice_date
		                , notice_hit
		            from notice
		            where 1=1
					<include refid="noticeSearch" />
		            order by notice_no desc 
		        ) a
		    ) b  
		    <![CDATA[
				where b.rnum >= #{startRow} and b.rnum <= #{endRow}
		    ]]>
	
	</select>
	
	
	<!-- 게시판 게시글 수정 -->
	<update id="updateNotice" parameterType="noticeVO">
	
		update notice
		set
             notice_title = #{noticeTitle}
             , notice_content = #{noticeContent}
             , notice_date = sysdate
        where notice_no = #{noticeNo}

	</update>
	
	<!-- 게시판 게시글 삭제 -->
	<delete id="deleteNotice" parameterType="int">
	
		delete from notice
		where notice_no = #{noticeNo }
		
	</delete>
	
</mapper>
